* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
 position: relative;
 min-height: 100vh;
 background-color: black;
}
body{
    font-family: 'Sigmar One', cursive;
}


header{
   background-color: #000000;
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   opacity: 10;
   position: sticky;
   top: 0;
   height: 50px;
   padding: 20px;
   list-style: none;
   left: 0%;

}
header div:hover{
    transform: scale(1.5);
}
.nav-enlace {
    color: #f59700 ;
    margin: 0px  60px 60px;
    text-decoration:none
}
a{
    margin: 0px  80px 80px;
    height: fit-content;
    color:#f59700
}
main{
    display: flex;
    justify-content: center;
    color:#f59700
}
main{
    height:5%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: auto;
}
main{
    height: 150px;
    width: 700px;
}

